<h1 id="web-scraping-in-elixir-hockey-scores">Web Scraping in Elixir: Hockey Scores</h1>
<h2 id="installation">Installation</h2>
<p>The installation simply requires cloning this repo to some directory.</p>
<p>This code illustrates a study for my own learnings in scraping data from various sites.</p>
<p>If you are interested in scraping websites, each site must have it’s own spider particular to the contents of the site’s html.</p>
<p>Use this code in conjunction with the excellent ebook <a href="https://blog.hartleybrody.com/guide-to-web-scraping/">&quot;The Ultimate Guide to Web Scraping</a> by Hartley Brody. This ebook contains code for python. The advice in this book will repay itself many times over for the modest price of $15.</p>
<p>This code in this repo provides an elixir implementation of Hartley Brody’s hockey site for web scraping.</p>
<p>Scraping different sites requires different “spiders” to properly parse the html. Furthermore, expect the site to change at unknown intervals. Please refer to the Ultimate Guide for more advice.</p>
<p>Because this web scaping example targets only a single site, this spider has been hardcoded into the code. If you are interested in scraping sites, you understand that each site is different and must have code specifically target to that site. Furthermore, real sites are likely to change anytime and in any way.</p>
<p>I have left debugging statements commented out as an illustration of how to implement tracing for a changed site. This site will not change, but a real-world site will. Leaving debug code in simplifies maintenance of real-world sites.</p>
<p>I wanted to learn Floki better, but was frustrated by the lack of extensive examples/documentation covering a wide variety of situations. In particular, the examples of selectors and attributes does not begin to cover these instances in the wild. I am impressed at Elixir pattern matching in overcoming this shortage. Floki properly generated structure that Elixir pattern matching successfully used.</p>
<p>A fully-blown database would serve as a basis for further interpreations, analysis, etc., this code only scrapes the data and stores it into a Elixir loadable file.</p>
<p>More serious users will likely prefer database output.</p>
<h1 id="running-the-code">Running the code</h1>
<div class="sourceCode" id="cb1"><pre class="sourceCode elixir"><code class="sourceCode elixir"><a class="sourceLine" id="cb1-1" data-line-number="1">    script                      <span class="co"># Start capturing output</span></a>
<a class="sourceLine" id="cb1-2" data-line-number="2">    iex <span class="op">-</span>S mix</a>
<a class="sourceLine" id="cb1-3" data-line-number="3">    <span class="im">import</span> <span class="cn">Hockey</span></a>
<a class="sourceLine" id="cb1-4" data-line-number="4">    the_data <span class="op">=</span> pull_site_data() <span class="co"># Read data from the site</span></a>
<a class="sourceLine" id="cb1-5" data-line-number="5">    data <span class="op">=</span> read_site_data()     <span class="co"># Load from file</span></a>
<a class="sourceLine" id="cb1-6" data-line-number="6">    data <span class="op">==</span> the_data            <span class="co"># Should be true</span></a>
<a class="sourceLine" id="cb1-7" data-line-number="7">    <span class="op">^</span>C<span class="op">^</span>C                        <span class="co"># Stop the iex shell</span></a>
<a class="sourceLine" id="cb1-8" data-line-number="8">    <span class="kw">exit</span>                        <span class="co"># Exit the script shell</span></a>
<a class="sourceLine" id="cb1-9" data-line-number="9">    clean<span class="op">-</span>typescript            <span class="co"># Clean cruft from typescript (see below)</span></a>
<a class="sourceLine" id="cb1-10" data-line-number="10">    vim typescript<span class="op">-</span>processed    <span class="co"># Examine the outut.</span></a>
<a class="sourceLine" id="cb1-11" data-line-number="11">    <span class="op">&lt;</span> work with site<span class="op">.</span>data <span class="op">&gt;</span>     <span class="co"># The saved binary output</span></a></code></pre></div>
<h1 id="writing-your-own-interface">Writing Your Own Interface</h1>
<p>The code, in its current state, does not provide a user interface for selecting information. The current code does create a persistent file of the site in loadable Elixir form.</p>
<p>The file <code>site.data</code> has all information from the scraped pages. To load these into Elixir:</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode elixir"><code class="sourceCode elixir"><a class="sourceLine" id="cb2-1" data-line-number="1">    iex <span class="op">-</span>S mix</a>
<a class="sourceLine" id="cb2-2" data-line-number="2">    <span class="im">import</span> <span class="cn">Hockey</span></a>
<a class="sourceLine" id="cb2-3" data-line-number="3">    data <span class="op">=</span> read_site_data() <span class="co"># Load the site data</span></a>
<a class="sourceLine" id="cb2-4" data-line-number="4">    length(data)            <span class="co"># The number of records saved</span></a>
<a class="sourceLine" id="cb2-5" data-line-number="5">    <span class="co"># 607                   # 607 entries on this site.</span></a></code></pre></div>
<p>As this site provides sample pages for the web scaping course, it’s unlikely this data will change.</p>
<h1 id="debugging-with-script">Debugging with script</h1>
<p>The log() has been left in the code. When log() returns true, lots of output results.</p>
<p>The use of lots of log() calls get justified when, not if, the site changes! Scraping sites should always be performed defensively as they change without notice.</p>
<h2 id="clean-typescript">clean-typescript</h2>
<p>From <code>man script<code>:</p>
<blockquote>
<p>Script places everything in the log file, including linefeeds and backspaces. This is not what the naive user expects.</p>
</blockquote>
<p>To cleanse your typescript file, place this utility somewhere in your <code>$PATH</code> and make it executable:</p>
<div class="sourceCode" id="cb3"><pre class="sourceCode bash"><code class="sourceCode bash"><a class="sourceLine" id="cb3-1" data-line-number="1">    <span class="co">#!/bin/bash</span></a>
<a class="sourceLine" id="cb3-2" data-line-number="2">    <span class="co">#</span></a>
<a class="sourceLine" id="cb3-3" data-line-number="3">    <span class="co"># Command to strip script crud from the typescript output.</span></a>
<a class="sourceLine" id="cb3-4" data-line-number="4">    <span class="co">#</span></a>
<a class="sourceLine" id="cb3-5" data-line-number="5">    <span class="co"># Run by:</span></a>
<a class="sourceLine" id="cb3-6" data-line-number="6">    <span class="co">#   clean_typescript</span></a>
<a class="sourceLine" id="cb3-7" data-line-number="7">    <span class="ex">@</span></a>
<a class="sourceLine" id="cb3-8" data-line-number="8">    <span class="co"># Input is in typescript</span></a>
<a class="sourceLine" id="cb3-9" data-line-number="9">    <span class="co"># Output is in typescript-processed</span></a>
<a class="sourceLine" id="cb3-10" data-line-number="10">    <span class="co">#</span></a>
<a class="sourceLine" id="cb3-11" data-line-number="11">    <span class="ex">/usr/bin/cat</span> typescript <span class="kw">|</span> <span class="kw">\</span></a>
<a class="sourceLine" id="cb3-12" data-line-number="12">      <span class="ex">/usr/bin/perl</span> -pe <span class="st">&#39;s/\e([^\[\]]|\[.*?[a-zA-Z]|\].*?\a)//g&#39;</span> <span class="kw">|</span> <span class="kw">\</span></a>
<a class="sourceLine" id="cb3-13" data-line-number="13">      <span class="ex">/usr/bin/col</span> -b <span class="op">&gt;</span> typescript-processed</a>
<a class="sourceLine" id="cb3-14" data-line-number="14">    <span class="bu">echo</span> output in typescript-processed</a></code></pre></div>
<p>Using <code>script</code> results in an almost unreadable mess. The output, from <code>typescript-processed</code>, contains only what was displayed on the screen.</p>
<p>Thanks to <a href="https://superuser.com/questions/236930/how-to-clean-up-output-of-linux-script-command">How to clean up output of linux ‘script’ command</a> for this incredibly useful utility script.</p>
<h1 id="to-do">To Do</h1>
<p>The code does not have a user interface of any kind. Providing a console UI that selects teams, most and least numbers, etc. would not be difficult.</p>
<p>Unit tests are mostly missing. Unit testing programs that interface to the web requires more dedicated testing procedure than I want to devote at this time. My intent with this code is to learn about scraping techniques, not to write a general purpose utility.</p>
<p>A database repository is missing. See the comments immediately above.</p>
<p>As I consider myself a noobi in Elixir, parts of the code can be suboptimal. For this I can only offer excuses.</p>
